{
    // use npm package : yarn add eslint babel-eslint
    "root": true,
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module",
      "parser": "babel-eslint", 
      "ecmaFeatures": {
        "jsx": true,
        "modules": true
      }
    },
    "env": {
      "browser": true,
      "es6": true,
      "node": true
    },
    "extends": [
    ],
    "rules": {
        //"quotes": ["error", "double"]
        "semi": ["warn", "always"],
        "indent": ["warn", 4],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "camelcase": ["error", {
          "allow": ["^UNSAFE_"],
          "properties": "never",
          "ignoreGlobals": true
        }],
        "no-multi-spaces": "error",
        "no-multiple-empty-lines": "warn",
        "no-var": "warn",
        "max-params" : ["warn", 6],
        "no-else-return": "warn",
        "max-classes-per-file": ["warn",2],
        "eqeqeq": "error",
        "no-console":"off",
        "no-unreachable": "warn",
        "no-irregular-whitespace":"warn",
        "no-redeclare" : "warn",
        "no-duplicate-imports" : "warn",
        //"no-empty-class": "error",
        "no-const-assign": "error",
        "prefer-const" : "warn",
        "no-trailing-spaces" : "warn",
        //"no-unused-vars" : "warn",
        //"max-statements-per-line": ["warn", 3],
        "max-lines" : ["error", 900],
        "max-lines-per-function" : ["error", 900]
    },
    "settings": {
        "react": {
            "fragment": "Fragment",
            "version": "detect"
        }
    }
  }