<!DOCTYPE HTML>
<!--
	Prism by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Culture Immergée</title>
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../css/prism-sell.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>

<!-- Banner -->
<section id="banner">
    <div class="inner split">
        <section>
            <h2>Culture Immergée</h2>
        </section>
        <section>
            <p>Le livre d'aquascaping qui vous apprend a jardiner dans un milieu aquatique, décoration d'aquarium, compatibilité des milieu,poissons..
                <br/>Découvrez également l'alchimie de l'eau</p>
            <ul class="actions">
                <li><a href="#one" class="button special">En savoir plus</a></li>
            </ul>
        </section>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper">
    <div class="inner split">
        <section>
            <h2>Pourquoi ce livre ?</h2>
            <p>De nos jours, les aquariums sont très populaire au sein des foyers, mais beaucoup d'entre nous ignore l'aquascaping.. a savoir l'art de décorer un aquarium
            a l'aide du hardscape ( sol,roche,bois..) et de plante.</p>
            <!--
            <ul class="actions">
                <li><a href="#" class="button alt">Learn more</a></li>
            </ul>
            -->
        </section>
        <section>
            <ul class="checklist">
                <li>Culture des plantes</li>
                <li>Technique de décoration</li>
                <li>Fiche végétale</li>
                <li>Etude des sols, de la chimie de l'eau et du cycle de vie de l'aquarium</li>
                <li>Conseil et bonne pratique</li>
            </ul>
        </section>
    </div>
</section>

<!--
<section id="two" class="wrapper style2 alt">
    <div class="inner">
        <div class="spotlight">
            <div class="image">
                <img src="images/pic01.jpg" alt="" />
            </div>
            <div class="content">
                <h3>Ipsum pharetra tempus</h3>
                <p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Details</a></li>
                </ul>
            </div>
        </div>
-->



        <!--
        <ul class="actions special">
            <li><a href="#" class="button alt">Ipsum magna tempus</a></li>
        </ul>
        -->


<!--
        <section>
            <ul class="contact">
                <li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
                <li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
                <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
                <li class="fa-envelope"><a href="#">information@untitled.tld</a></li>
                <li class="fa-home">1234 Somewhere Road Suite 9823<br/>Nashville, TN 00000-0000</li>
            </ul>
        </section>
-->
    </div>


<!-- Footer -->
<footer id="footer">
    <div class="align-center text-center">
        Découvrez le livre dans son intégralité dès maintenant <br/><br/>
        <a href="http://biz.sacha6623.1.1tpe.net"><img src="http://www.1tpe.com/img/boutachat9.gif" border=0 ></a>
        <br/>
        <br/>
        <br/>

    </div>
</footer>

</body>
</html>