{# templates/emails/contact.html.twig #}

<h3>Nouveau Message de sachadurand.fr</h3>

Nom : {{ name }} <br/>
Mail : {{ mail }} <br/>
objet : {{ subject }} <br/>
<br/>
Message : {{ message }}<br/>

-----------------------------------------------------------
