{% extends 'base.html.twig' %}
{% block title %} Contact{% endblock %}
{% block body %}


<body class="slides horizontal simplifiedMobile animated">

<!-- Slide 4 (#26) -->
<section class="slide fade-6 kenBurns laboratory">
  <div class="content">
    <div class="container">
      <div class="wrap">
        
        <div class="fix-12-12">
          
              <h1 class="ae-1 fromLeft">Contact</h1>
            
            
        
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(image/3.jpg)"></div>
</section>


<!-- Loading Progress Bar -->
<div class="progress-bar blue"></div>
		
{% endblock %}